* {
  margin: 0;
  padding: 0;

  body {
    background-color: white;
    position: relative;

    #wrapper {
      padding: 100px 0 0;

      header {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1001;
        box-sizing: border-box;

        h1 {
          margin: 0 auto 25px;
          width: 200px;
          height: 80px;
          font-weight: normal;
          opacity: 1;
          text-align: center;
          font-size: 100%;

          &:hover {
            opacity: 0.7;
          }

          a {
            font-size: 30px;
            display: block;
            text-decoration: none;
            font-family: 'Zapfino',sans-serif;
            color: steelblue;
            cursor: default;
          }
        }

        nav {
          text-align: center;
          display: none;

          ul {
            text-align: center;
            list-style: none;

            li {
              margin: 0 0 0 15px;
              display: inline-block;
              font-size: 16px;

              a {
                padding: 15px 0 5px;
                text-decoration: none;
                color: black;

                &:hover {
                  border-bottom: solid 1px black;
                }
              }
            }

            &:after {
              content: "";
              display: block;
              clear: both;
            } 
          }
        }
      }

      #main {
        margin: 0 0 100px;

        .container {

          .img {
            width: 100%;
            background-color: black;

            .box1 {
              width: 100%;

              .a {
                width: 100%;
  
                img {
                  max-width: 100%;
                  height: auto;
                }
              }
              
              .b {
                width: 100%;
  
                img {
                  max-width: 100%;
                  height: auto;
                }
              }
            }

            .box2 {
              width: 100%;

              .c {
                width: 100%;
  
                img {
                  max-width: 100%;
                  height: auto;
                }
              }

              .d {
                width: 100%;
  
                img {
                  max-width: 100%;
                  height: auto;
                }
              }
            }

            .box3 {
              width: 100%;

              .e {
                width: 100%;
  
                img {
                  max-width: 100%;
                  height: auto;
                }
              }

              .f {
                width: 100%;

                img {
                  max-width: 100%;
                  height: auto;
                }
              }
            }

            &:after {
              content: "";
              display: block;
              clear: both;
            }
          }

          .bars {
            text-align: center;
            width: 100%;
            margin: 30px 0 0;
            list-style: none;
            display: none;

            .bar {
              margin: 0 10px;
              width: 40px;
              height: 3px;
              display: inline-block;
              cursor: pointer;
              background-color: #ddd;

              &:hover {
                background-color: black;
              }
            }
          }
        }
      }

      #contents {
        margin: 0 auto;
        

        .information {
          width: 100%;
          margin: 0 0 100px;

          h2 {
            margin: 0 0 50px;
            text-align: center;
            font-size: 26px;
            font-weight: normal;
          }

          .container {
            width: 50%;
            margin: 0 auto;

            dl {
              margin: 0 0 15px;

              dt {
                margin: 14px 0 5px;
                font-size: 14px;

                span {
                  margin: 0 8px 0 0;
                  display: inline-block;
                  color: #a40000;
                }
              }

              dd {
                border-bottom: solid 1px #ddd;
                padding: 0 0 14px;
              }

              &:after {
                content: "";
                display: block;
                clear: both;
              }
            }
          }

          &:after {
            content: "";
            display: block;
            clear: both;
          }
        }

        .discography {
          width: 100%;
          

          h2 {
            margin: 0 0 50px;
            text-align: center;
            font-size: 26px;
            font-weight: normal;
          }

          .container {
            width: 60%;
            margin: 0 auto;
            box-sizing: border-box;

            p {
              text-align: center;

              img {
                width: 100%;
              }

              span {
                margin: 10px 0 5px;
                display: block;
              }
            }
          }
        }

        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }

      footer {
        background-color: black;
        margin: 100px 0 0;
        padding: 307px 0 60px;
        color: white;

        .wf {
          margin: 0 5%;

          .pagetop {
            text-align: center;
            margin: 0 0 30px;
            
            a {
              display: inline-block;
              width: 30px;
              color: white;
              text-decoration: none;

              &:hover {
                border-top: solid 1px white;
              }
            }
          }

          .sns {
            margin: 0 0 40px;

            h2 {
              margin: 0 0 10px;
              text-align: center;
              font-size: 26px;
              font-weight: normal;
            }

            ul {
              list-style: none;
              text-align: center;
            
              li {
                margin: 0 0 0 15px;
                display: inline-block;
                font-size: 16px;
  
                a {
                  padding: 15px 0 5px;
                  text-decoration: none;
                  color: white;
  
                  &:hover {
                    border-bottom: solid 1px white;
                  }
                }
              }
            }
          }

          small {
            float: right;
            font-size: 14px;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 560px) {

  * {
    body {
      #wrapper {
        padding: 150px 0 0;

        header {
          padding: 10px 0 0;
          height: 150px;

          nav {
            display: block;
          }
        }
        #main {
          .container {
            .img {
              .box1 {
                width: 30%;
                float: left;
              }
              .box2 {
                float: left;
                width: 43%;
              }
              .box3 {
                width: 27%;
                float: left;
              }
            }
            .bars {
              display: block;
            }
          }
        }
        #contents {
          .information {
            float: left;
            width: 50%;
          }
  
          .discography {
            float: right;
            width: 50%;
          }
        }
        footer {
          margin: 0;
        }
      }
    }
  }
}


@media screen and (min-width: 960px) {

  * {
    body {
      #wrapper {
        padding: 190px 0 0;

        header {
          padding: 40px 0 0;
          height: 190px;

          nav {
            display: block;
          }
        }
        #main {
          .container {
            .img {
              .box1 {
                width: 30%;
                float: left;
              }
              .box2 {
                float: left;
                width: 43%;
              }
              .box3 {
                width: 27%;
                float: left;
              }
            }
            .bars {
              display: block;
            }
          }
        }
        #contents {
          .information {
            float: left;
            width: 50%;
          }
  
          .discography {
            float: right;
            width: 50%;
          }
        }

        footer {
          margin: 100px 0 0;
        }
      }
    }
  }
}