* {
  margin: 0;
  padding: 0;

  body {
    background-color: white;
    min-width: 1300px;
    box-sizing: border-box;
    position: relative;

    #wrapper {
      padding: 190px 0 0;

      header {
        padding: 40px 0 0;
        width: 100%;
        height: 190px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1001;
        box-sizing: border-box;

        h1 {
          margin: 0 auto 25px;
          width: 200px;
          height: 80px;
          font-weight: normal;
          opacity: 1;
          text-align: center;
          font-size: 100%;

          &:hover {
            opacity: 0.7;
          }

          a {
            font-size: 30px;
            display: block;
            text-decoration: none;
            font-family: 'Zapfino',sans-serif;
            color: steelblue;
            cursor: default;
          }
        }

        nav {
          text-align: center;

          ul {
            text-align: center;
            list-style: none;

            li {
              margin: 0 0 0 15px;
              display: inline-block;
              font-size: 16px;

              a {
                padding: 15px 0 5px;
                text-decoration: none;
                color: black;

                &:hover {
                  border-bottom: solid 1px black;
                }
              }
            }

            &:after {
              content: "";
              display: block;
              clear: both;
            } 
          }
        }
      }

      #main {
        margin: 0 0 100px;

        .container {
          height: 600px;
          margin: 0 0 30px;

          .img {
            width: 100%;
            height: 600px;
            background-color: black;

            .a {
              height: 100%;
              float: left;

              img {
                width: auto;
                max-height: 100%;
              }
            }
              
            .b {
              float: left;
              height: 100%;

              img {
                width: auto;
                max-height: 100%;
              }
            }

            .c {
              height: 100%;
              float: left;

              img {
                max-height: 100%;
                width: auto;
              }
            }
          }

          .bars {
            height: 1px;
            text-align: center;
            width: 100%;
            margin: 30px 0 0;
            list-style: none;

            .bar {
              margin: 0 10px;
              width: 40px;
              height: 3px;
              display: inline-block;
              cursor: pointer;
              background-color: #ddd;

              &:hover {
                background-color: black;
              }
            }
          }
        }
      }

      #contents {
        margin: 0 auto;
        width: 1140px;

        .information {
          float: left;
          width: 540px;
          height: 510px;

          h2 {
            margin: 0 0 50px;
            text-align: center;
            font-size: 26px;
            font-weight: normal;
          }

          .container {
            width: 540px;

            dl {
              margin: 0 0 15px;

              dt {
                margin: 14px 0 5px;
                font-size: 14px;

                span {
                  margin: 0 8px 0 0;
                  display: inline-block;
                  color: #a40000;
                }
              }

              dd {
                border-bottom: solid 1px #ddd;
                padding: 0 0 14px;
              }

              &:after {
                content: "";
                display: block;
                clear: both;
              }
            }
          }

          &:after {
            content: "";
            display: block;
            clear: both;
          }
        }

        .discography {
          float: right;
          width: 540px;
          height: 510px;

          h2 {
            margin: 0 0 50px;
            text-align: center;
            font-size: 26px;
            font-weight: normal;
          }

          .container {
            margin: 20px auto 0;
            width: 360px;
            box-sizing: border-box;

            p {
              text-align: center;

              img {
                width: 100%;
              }

              span {
                display: block;
              }
            }
          }
        }

        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }

      #footer {
        background-color: black;
        margin: 100px 0 0;
        padding: 307px 0 60px;
        color: white;

        .wf {
          width: 1080px;
          margin: 0 auto;

          .pagetop {
            text-align: center;
            
            a {
              text-align: center;
              color: white;
              text-decoration: none;

              &:hover {
                color: black;
                background-color: white;
                border: solid 1px white;
                border-radius: 5px;
              }
            }
          }

          .sns {
            margin: 0 0 40px;

            h2 {
              margin: 0 0 50px;
              text-align: center;
              font-size: 26px;
              font-weight: normal;
            }

            ul {
              list-style: none;
              text-align: center;
            
              li {
                margin: 0 0 0 15px;
                display: inline-block;
                font-size: 16px;
  
                a {
                  padding: 15px 0 5px;
                  text-decoration: none;
                  color: white;
  
                  &:hover {
                    border-bottom: solid 1px white;
                  }
                }
              }
            }
          }

          small {
            float: right;
            font-size: 14px;
          }
        }
      }
    }
  }
}
