* {
  margin: 0;
  padding: 0;
}

* body {
  background-color: white;
  position: relative;
}

* body #wrapper {
  padding: 100px 0 0;
}

* body #wrapper header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  box-sizing: border-box;
}

* body #wrapper header h1 {
  margin: 0 auto 25px;
  width: 200px;
  height: 80px;
  font-weight: normal;
  opacity: 1;
  text-align: center;
  font-size: 100%;
}

* body #wrapper header h1:hover {
  opacity: 0.7;
}

* body #wrapper header h1 a {
  font-size: 30px;
  display: block;
  text-decoration: none;
  font-family: 'Zapfino',sans-serif;
  color: steelblue;
  cursor: default;
}

* body #wrapper header nav {
  text-align: center;
  display: none;
}

* body #wrapper header nav ul {
  text-align: center;
  list-style: none;
}

* body #wrapper header nav ul li {
  margin: 0 0 0 15px;
  display: inline-block;
  font-size: 16px;
}

* body #wrapper header nav ul li a {
  padding: 15px 0 5px;
  text-decoration: none;
  color: black;
}

* body #wrapper header nav ul li a:hover {
  border-bottom: solid 1px black;
}

* body #wrapper header nav ul:after {
  content: "";
  display: block;
  clear: both;
}

* body #wrapper #main {
  margin: 0 0 100px;
}

* body #wrapper #main .container .img {
  width: 100%;
  background-color: black;
}

* body #wrapper #main .container .img .box1 {
  width: 100%;
}

* body #wrapper #main .container .img .box1 .a {
  width: 100%;
}

* body #wrapper #main .container .img .box1 .a img {
  max-width: 100%;
  height: auto;
}

* body #wrapper #main .container .img .box1 .b {
  width: 100%;
}

* body #wrapper #main .container .img .box1 .b img {
  max-width: 100%;
  height: auto;
}

* body #wrapper #main .container .img .box2 {
  width: 100%;
}

* body #wrapper #main .container .img .box2 .c {
  width: 100%;
}

* body #wrapper #main .container .img .box2 .c img {
  max-width: 100%;
  height: auto;
}

* body #wrapper #main .container .img .box2 .d {
  width: 100%;
}

* body #wrapper #main .container .img .box2 .d img {
  max-width: 100%;
  height: auto;
}

* body #wrapper #main .container .img .box3 {
  width: 100%;
}

* body #wrapper #main .container .img .box3 .e {
  width: 100%;
}

* body #wrapper #main .container .img .box3 .e img {
  max-width: 100%;
  height: auto;
}

* body #wrapper #main .container .img .box3 .f {
  width: 100%;
}

* body #wrapper #main .container .img .box3 .f img {
  max-width: 100%;
  height: auto;
}

* body #wrapper #main .container .img:after {
  content: "";
  display: block;
  clear: both;
}

* body #wrapper #main .container .bars {
  text-align: center;
  width: 100%;
  margin: 30px 0 0;
  list-style: none;
  display: none;
}

* body #wrapper #main .container .bars .bar {
  margin: 0 10px;
  width: 40px;
  height: 3px;
  display: inline-block;
  cursor: pointer;
  background-color: #ddd;
}

* body #wrapper #main .container .bars .bar:hover {
  background-color: black;
}

* body #wrapper #contents {
  margin: 0 auto;
}

* body #wrapper #contents .information {
  width: 100%;
  margin: 0 0 100px;
}

* body #wrapper #contents .information h2 {
  margin: 0 0 50px;
  text-align: center;
  font-size: 26px;
  font-weight: normal;
}

* body #wrapper #contents .information .container {
  width: 50%;
  margin: 0 auto;
}

* body #wrapper #contents .information .container dl {
  margin: 0 0 15px;
}

* body #wrapper #contents .information .container dl dt {
  margin: 14px 0 5px;
  font-size: 14px;
}

* body #wrapper #contents .information .container dl dt span {
  margin: 0 8px 0 0;
  display: inline-block;
  color: #a40000;
}

* body #wrapper #contents .information .container dl dd {
  border-bottom: solid 1px #ddd;
  padding: 0 0 14px;
}

* body #wrapper #contents .information .container dl:after {
  content: "";
  display: block;
  clear: both;
}

* body #wrapper #contents .information:after {
  content: "";
  display: block;
  clear: both;
}

* body #wrapper #contents .discography {
  width: 100%;
}

* body #wrapper #contents .discography h2 {
  margin: 0 0 50px;
  text-align: center;
  font-size: 26px;
  font-weight: normal;
}

* body #wrapper #contents .discography .container {
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
}

* body #wrapper #contents .discography .container p {
  text-align: center;
}

* body #wrapper #contents .discography .container p img {
  width: 100%;
}

* body #wrapper #contents .discography .container p span {
  margin: 10px 0 5px;
  display: block;
}

* body #wrapper #contents:after {
  content: "";
  display: block;
  clear: both;
}

* body #wrapper footer {
  background-color: black;
  margin: 100px 0 0;
  padding: 307px 0 60px;
  color: white;
}

* body #wrapper footer .wf {
  margin: 0 5%;
}

* body #wrapper footer .wf .pagetop {
  text-align: center;
  margin: 0 0 30px;
}

* body #wrapper footer .wf .pagetop a {
  display: inline-block;
  width: 30px;
  color: white;
  text-decoration: none;
}

* body #wrapper footer .wf .pagetop a:hover {
  border-top: solid 1px white;
}

* body #wrapper footer .wf .sns {
  margin: 0 0 40px;
}

* body #wrapper footer .wf .sns h2 {
  margin: 0 0 10px;
  text-align: center;
  font-size: 26px;
  font-weight: normal;
}

* body #wrapper footer .wf .sns ul {
  list-style: none;
  text-align: center;
}

* body #wrapper footer .wf .sns ul li {
  margin: 0 0 0 15px;
  display: inline-block;
  font-size: 16px;
}

* body #wrapper footer .wf .sns ul li a {
  padding: 0 0 5px;
  text-decoration: none;
  color: white;
}

* body #wrapper footer .wf .sns ul li a i {
  margin: 0 5px 0 0;
}

* body #wrapper footer .wf .sns ul li a:hover {
  border-bottom: solid 1px white;
}

* body #wrapper footer .wf small {
  float: right;
  font-size: 14px;
}

@media screen and (min-width: 560px) {
  * body #wrapper {
    padding: 150px 0 0;
  }
  * body #wrapper header {
    padding: 10px 0 0;
    height: 150px;
  }
  * body #wrapper header nav {
    display: block;
  }
  * body #wrapper #main .container .img .box1 {
    width: 30%;
    float: left;
  }
  * body #wrapper #main .container .img .box2 {
    float: left;
    width: 43%;
  }
  * body #wrapper #main .container .img .box3 {
    width: 27%;
    float: left;
  }
  * body #wrapper #main .container .bars {
    display: block;
  }
  * body #wrapper #contents .information {
    float: left;
    width: 50%;
  }
  * body #wrapper #contents .discography {
    float: right;
    width: 50%;
  }
  * body #wrapper footer {
    margin: 0;
  }
}

@media screen and (min-width: 960px) {
  * body #wrapper {
    padding: 190px 0 0;
  }
  * body #wrapper header {
    padding: 40px 0 0;
    height: 190px;
  }
  * body #wrapper header nav {
    display: block;
  }
  * body #wrapper #main .container .img .box1 {
    width: 30%;
    float: left;
  }
  * body #wrapper #main .container .img .box2 {
    float: left;
    width: 43%;
  }
  * body #wrapper #main .container .img .box3 {
    width: 27%;
    float: left;
  }
  * body #wrapper #main .container .bars {
    display: block;
  }
  * body #wrapper #contents .information {
    float: left;
    width: 50%;
  }
  * body #wrapper #contents .discography {
    float: right;
    width: 50%;
  }
  * body #wrapper footer {
    margin: 100px 0 0;
  }
}
